$mq1453: 1453px;
$mq1000: 1000px;
$mq460: 460px;
html {
    padding: 0;
    margin: 0;
  }
  
#app {
  width: 100%;
  height: auto;
}

.portbody{
  width: 100%;
  font-family: "微軟正黑體";
}
//關於我
.myabout{
  width: 100%;
  height: 100%;
  margin: 0 auto;
  >.aboutphoho{ 
    width: 100%;
    height: 100%;
    text-align: center;
    >.aboutli{
      margin-top: 20px;
      list-style-type:none;
      }
    }
  >.aboutText{
    margin: 0 auto;
    width: 67%;
    margin-top: 20px; 
    >.abouth2{
      text-align: center;
    }
  }
}
//網頁設計
.myWebDesign{
  
  width: 100%;
  height: 100%;
  margin: 0 auto;
  >.WebDesignh2{
    margin: 20px 0 50px 0;
    text-align: center;
  }
  >.WebDesignh3{
    margin: 0 0 20px 0;
    text-align: center;
  }
  >.WebDesignphoto1{
    margin:0 auto;
    width: 67%;
    text-align: center;
  
    >.img-circle{
      width: 100%;
      height: 100%;
      margin: 0 0 30px 0;
      // @media screen and (max-width: $mq375) {
        
      // }
    }
    
  }
  >.WebDesignphoto2{
    margin:0 auto;
    width: 68%;
    
    text-align: center;
    
    >.img-rwd{
      padding: 10px;
      @media screen and (max-width: $mq1453) {
        width: 30%;
      }
      @media screen and (max-width: $mq1000) {
        padding: 0px;

      }
      @media screen and (max-width: $mq460) {
        padding: 0px;
        margin: 0 0 20px 0;
        width: 70%;
      }
    
    }
  }
}
#imgkerwd{
  @media screen and (max-width: $mq1453) {
    width: 29%;
    height: 30%;
  }
  @media screen and (max-width: $mq460) {
    width: 70%;
  }
}

//動畫頁
.myAnimation{
  width: 67%;
  height: 50%;
  margin: 0 auto;
  >.Animationh2{
    text-align: center;
  }
  >.Animationphoto1{
    display: flex;
    flex-wrap: wrap ;
    
    width: 100%;
    >.AphotoImg{
      margin: 10px 0 10px 0;
      // margin: 0 7px 0 0;
      width: 50%;
      height: 60%;
      @media screen and (max-width: $mq460) {
        width: 100%;
      }
    }
  }
}

//影片剪輯
.myMovie{
  width: 67%;
  height: 50%;
  margin: 0 auto;
  >.Movieh2{
    text-align: center;
  }
  >.MovieA{
    >.MovieImg{
      width: 100%;
      height: 50%;
    }
  }
  
}

//影片特效
.myEffects{
  width: 67%;
  height: 50%;
  margin: 5px auto;
  >.Effectsh2{
    text-align: center;
  }
}
  

//攝影
.myphotography{
  width: 67%;
  height: 50%;
  margin: 0 auto;
  >.photographyh2{
    text-align: center;
  }
  >.graphy{
    margin: 10px 0;
    width: 100%;
  }
}


//footer
.footer1{
  height: 100%;
  background-color:rgb(241, 241, 241);
  >.footerdiv{
    >.footerP{
      font-size: 40px;
      text-align: center;
      margin: 0;
    }
  }
}